
<div class="box">
  <%= form_for :post, url: posts_path do |f| %>
    <div class="field">
      <label class="label">What's on your mind?</label>
      <%= f.text_area :text, class: "textarea", placeholder: "Your awesome thoughts..."%>
    </div>
    <%= hidden_field_tag 'return_url', request.original_url %>
    <%= f.submit "Post",  class: "button is-link" %>
  <% end %>
</div>

<% @posts.each do |post| %>
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <% user = User.find(post.user_id) %>
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar %>
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= post.user_name %></strong>
            <br>
            <small><%= post.created_at %></small>
          </p>
        </div>
      </div>
    </article>

    <p><%= post.text %></p>

    Likes: <%= Like.where(post_id: post.id).count %>
    <% if Like.find_by(post_id: post.id, user_id: current_user.id).blank? %>
      <%= form_for :like, url: likes_path do |f| %>
        <%= f.hidden_field :post_id, :value => post.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= hidden_field_tag 'return_url', request.original_url %>
        <%= f.submit "Like" %>
      <% end %>
    <% else %> 
      <%= form_with url: '/likes/destroy' do |f| %>
        <%= f.hidden_field :post_id, :value => post.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= hidden_field_tag 'return_url', request.original_url %>
        <%= f.submit "Unlike" %>
      <% end %>
    <% end %>

    <% post.comments.each do |comment| %>
      <h5><%= comment.user.email%></h5>
      <p><%= comment.text %></p>
    <% end %>

    <h4>Add new comment:</h4>
    <%= form_for :comment, url: comments_path do |f| %>
      <%= f.text_area :text %>
      <%= f.hidden_field :post_id, :value => post.id %>
      <%= hidden_field_tag 'return_url', request.original_url %>
      <%= f.submit "Comment" %>
    <% end %>
  </div>
<% end %>
