
<div class="box">
  <%= form_for :post, url: posts_path do |f| %>
    <div class="field">
      <label class="label">What's on your mind?</label>
      <%= f.text_area :text, class: "textarea", placeholder: "Your awesome thoughts..."%>
    </div>
    <%= hidden_field_tag 'return_url', request.original_url %>
    <%= f.submit "Post",  class: "button is-link" %>
  <% end %>
</div>

<% @posts.each do |post| %>
  <div class="box">
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <% user = User.find(post.user_id) %>
          <% if user.avatar.attached? %>
            <%= image_tag user.avatar %>
          <% else %>
            <img src="https://bulma.io/images/placeholders/128x128.png">
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p>
            <strong><%= post.user_name %></strong>
            <br>
            <small><%= post.created_at %></small>
          </p>
        </div>
      </div>
    </article>

    <div class="block">
      <p><%= post.text %></p>
    </div>

    <div class="block">
      Likes: <%= Like.where(post_id: post.id).count %>
      <% if Like.find_by(post_id: post.id, user_id: current_user.id).blank? %>
        <%= form_for :like, url: likes_path do |f| %>
          <%= f.hidden_field :post_id, :value => post.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= hidden_field_tag 'return_url', request.original_url %>
          <button class="button is-outlined" type="submit">
            <span class="icon is-small">
              <i class="fas fa-thumbs-up"></i>
            </span>
          </button>
        <% end %>
      <% else %> 
        <%= form_with url: '/likes/destroy' do |f| %>
          <%= f.hidden_field :post_id, :value => post.id %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= hidden_field_tag 'return_url', request.original_url %>
          <button class="button is-link" type="submit">
            <span class="icon is-small">
              <i class="fas fa-thumbs-up"></i>
            </span>
          </button>
        <% end %>
      <% end %>
    </div>

    <% post.comments.each do |comment| %>
      <% comment_user = comment.user %>
      <div class="block">
        <article class="media">
          <figure class="media-left">
            <p class="image is-32x32">
              <% if comment_user.avatar.attached? %>
                <%= image_tag comment_user.avatar %>
              <% else %>
                <img src="https://bulma.io/images/placeholders/128x128.png">
              <% end %>
            </p>
          </figure>
          <div class="media-content has-background-grey-lighter">
            <div class="content">
              <p>
                <strong><%= comment_user.name %></strong>
                <br>
                <%= comment.text %>
              </p>
            </div>
          </div>
        </article>
      </div>
    <% end %>

    <article class="media">
      <figure class="media-left">
        <p class="image is-48x48">
          <% if current_user.avatar.attached? %>
            <%= image_tag current_user.avatar %>
          <% else %>
            <img src="https://bulma.io/images/placeholders/128x128.png">
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <%= form_for :comment, url: comments_path do |f| %>
            <div class="field">
              <%= f.text_field :text, class: "input", type: "text", placeholder: "Write a comment..."%>
            </div>
            <%= f.hidden_field :post_id, :value => post.id %>
            <%= hidden_field_tag 'return_url', request.original_url %>
          <% end %>
        </div>
      </div>
    </article> 
  </div>
<% end %>
