<section class="section has-background-white-bis has-text-centered">
  <div class="block">
    <% if current_user.avatar.attached? %>
      <%= image_tag current_user.avatar, size: "300"%>
    <% end %>
    <% if params[:option] == 'edit_avatar' %>
      <%= form_with url: "/profile/update_avatar" do |f| %>
        <%= f.file_field :avatar, accept: "image/*" %><br>
        <%= f.submit "Submit"%>
      <% end %>
    <% else %>
      <%= form_with url: "/profile/edit_avatar", method: 'get' do |f| %>
        <%= f.submit "Edit Profile Photo"%>
      <% end %>
    <% end %>

    <h2><%= current_user.name %></h2>

    <h2>About Me</h2>
    <% if params[:option] == 'edit_description' %>
      <%= form_for current_user, url: "/profile/update_description" do |f| %>
        <%= f.text_field :description %>
        <%= f.submit "Update"%>
      <% end %>
    <% else %>
      <p><%= current_user.description %></p>
      <%= form_with url: "/profile/edit_description", method: 'get' do |f| %>
        <%= f.submit "Edit Profile Description"%>
      <% end %>
    <% end %>
  </div>
</section>