<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src = "https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>

  <body>
    <section class="section has-background-light">
      <div class="block">
        <nav class="navbar is-fixed-top has-background-white">
          <div class="navbar-brand">
            <a class="navbar-item" href="/home">
              <h1>Facebook Clone</h1>
            </a>
          </div>
          <div class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="/home">
                <span class="icon has-text-info is-large">
                  <i class="fas fa-home"></i>
                </span>
              </a>
            </div>
            <div class="navbar-end">
              <% if user_signed_in? %>
                <a class="navbar-item" href="/profile">
                  <% if current_user.avatar.attached? %>
                    <%= image_tag current_user.avatar, size: "50"%>
                  <% end %>
                  <h1><%= current_user.name%></h1>
                </a>
                <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "navbar-item" %>
              <% else %>
                <a class="navbar-item" href=<%= user_session_path %>>
                  <p>Sign in</p>
                </a>
              <% end %>
            </div>
          </div>
        </nav>
      </div>

      <div class="content has-text-centered">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>   
      </div> 

      <%= yield :top %>

      <section class='section'>
        <div class="columns is-3">
          <div class="column is-3">
            <%= yield :friends %>
          </div>
          <div class="column is-6">
            <%= yield %>
          </div>
        </div>
      </section>

      <div>
        <footer class="footer has-background-light">
          <div class="content has-text-centered">
            <button class="button is-large" onclick="location.href='https://github.com/calebmgshort/facebook-clone'">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
            </button>
          </div>
        </footer>
      </div>
    </section>
  </body>
</html>
