<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>OdinFacebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="section has-background-light ">
      <div class="block">
        <nav class="navbar is-fixed-top has-background-white">
          <div class="navbar-brand">
            <div class="navbar-item">
              <%= link_to "/home", class: "button is-info" do %>
                Facebook Clone
              <% end %>
            </div>
          </div>
          <div class="navbar-menu">
            <div class="navbar-start">
              <div class="navbar-item">
                <%= link_to "/home", class: "button is-light" do %>
                  <span class="icon has-text-info is-large">
                    <i class="fas fa-home"></i>
                  </span>
                <% end %>
              </div>
            </div>
            <div class="navbar-end">
              <% if user_signed_in? %>
                <div class="navbar-item">
                  <%= link_to "/profile", class: "button is-light" do %>
                    <% if current_user.avatar.attached? %>
                      <%= image_tag current_user.avatar, size: "50"%>
                    <% end %>
                    <%= current_user.name%>
                  <% end %>
                </div>
                <div class="navbar-item">
                  <%= link_to destroy_user_session_path, :method => :delete, class: "button is-light" do %>
                    Sign out
                  <% end %>
                </div>
              <% else %>
                <div class="navbar-item">
                  <%= link_to user_session_path, class: "button is-light" do %>
                    Sign in
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </nav>
      </div>

      <div class="content has-text-centered">
        <p class="notice has-text-success"><%= notice %></p>
        <p class="alert has-text-danger	"><%= alert %></p>   
      </div> 

      <%= yield :top %>

      <section class='section'>
        <div class="columns is-3">
          <div class="column is-3">
            <%= yield :friends %>
          </div>
          <div class="column is-6">
            <%= yield %>
          </div>
        </div>
      </section>

      <div>
        <footer class="footer has-background-light">
          <div class="content has-text-centered">
            <%= link_to "https://github.com/calebmgshort/facebook-clone", class: "button is-large" do %>
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
            <% end %>
          </div>
        </footer>
      </div>
    </section>
  </body>
</html>
